body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.categoryLabel {
  display: block;
  margin-bottom: 5px;
}

.categoryLabel input[type='checkbox'] {
  margin-right: 5px;
}

.generateButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.generateButton:hover {
  background-color: #45a049;
}

#joke {
  margin-top: 20px;
}
